.dashboard {
  .badges {
    .badge {
      margin-right: 4%;
    }
  }

  .prices {
    line-height: 50%;
    margin-top: -15%;

    .price {
      color: red;
    }

    .old-price {
      text-decoration: line-through;
      color: grey;
    }
  }
}
