          <div class="dashboard container-fluid content-row">
            <div class="row">
              <div class="col-md-3 " *ngFor="let card of products; trackBy: trackBy">
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                  <img mat-card-image src='{{card.image}}' alt="no image">
                  <!-- prevent downloading 90pics every refresh -->
                  <!-- <img class="card-img-top" src="{{products[0].image}}" alt="Card image cap"> -->
                  <div class="card-body">
                    <div class="badges"><span class="badge" *ngIf="card.marks && card.marks.includes('Sale')"
                        class="badge badge-danger">Sale</span>
                      <span *ngIf="card.marks && card.marks.includes('LastItems')" class="badge badge-warning">Last
                        Items</span>
                    </div>
                    <h3 class="card-title"><strong>{{card.producer}}</strong></h3>
                    <h4 class="card-subtitle">{{card.name}}</h4>
                    <button type="button" class="btn btn-primary" (click)="addToCart(card);openSnackBar()">Buy</button>
                    <div class="prices">
                      <p [ngClass]="{'price': card.oldPrice}" class="text-right">{{card.price}} PLN</p>
                      <p class="old-price text-right" *ngIf="card.oldPrice">{{card.oldPrice}} PLN</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
